<mat-card>
    <mat-card-header>
        <mat-card-title>📝 Todo's</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let open of (items | todos: false)">
                <div>
                    <mat-checkbox [(ngModel)]="open.checked">{{open.description}}</mat-checkbox>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>✅ Done</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let item of (items | todos: true)">
                <div>
                    <span>{{item.description}}</span>
                </div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<mat-card>
    <form [formGroup]="todoForm" (ngSubmit)="onAdd()">
        <mat-card-header>
            <mat-card-title>
                Neues Todo erstellen
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Todo Beschreibung</mat-label>
                <input matInput formControlName="description" placeholder="Neues Todo hier eingeben">
                <mat-hint>A description is required</mat-hint>
                <mat-error *ngIf="todoForm.get('description')?.hasError('required')">
                    Description is required
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" mat-raised-button type="submit">Erstellen</button>
        </mat-card-actions>
    </form>
</mat-card>